@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>Quản lý loại hàng</h4>
<button onclick="location.href='LoaiHang'">Loại Hàng</button>
<h4>Quản lý Hóa Đơn Nhập</h4>
<button onclick="location.href='HoaDonNhap'">Hóa Đơn Nhập</button>
<h4>Quản lý Mặt Hàng</h4>
<button onclick="location.href='MatHang'">Mặt Hàng</button>
<h4>Quản lý Hóa Đơn Bán</h4>
<button onclick="location.href='HoaDonNhap'">Hóa Đơn Bán</button>
<h4>Thống Kê Hàng Tồn</h4>
<button onclick="location.href='HangTon'">Hàng Tồn</button>
<h4>Thống Kê Hàng Hết Hạn</h4>
<button onclick="location.href='HangHetHan'">Hàng Hết Hạn</button>
